/* Coverage Rule Set: 100% Entry Point + Statement + Call + Decision Coverage */
static void rule_set(char* cppca_sut, char* cppca_context)
{
#ifdef CANTPP_SUBSET_DEFERRED_ANALYSIS
    TEST_SCRIPT_WARNING("Coverage Rule Set ignored in deferred analysis mode\n");
#elif CANTPP_INSTRUMENTATION_DISABLED
    TEST_SCRIPT_WARNING("Instrumentation has been disabled\n");
#else
    ANALYSIS_CHECK("100% Entry Point Coverage", cppca_entrypoint_cov, 100.0);
    ANALYSIS_CHECK("100% Statement Coverage", cppca_statement_cov, 100.0);
    ANALYSIS_CHECK("100% Call Return Coverage", cppca_callreturn_cov, 100.0);
    ANALYSIS_CHECK("100% Decision Coverage", cppca_decision_cov, 100.0);
    REPORT_COVERAGE(cppca_entrypoint_cov|cppca_statement_cov|cppca_callreturn_cov|cppca_decision_cov,
                    cppca_sut,
                    cppca_all_details|cppca_include_catch,
                    cppca_context);
#endif
}
