int main(void)
{
    OPEN_LOG("test_{{ module_name }}_{{ pr_number }}.ctr", FALSE, 100);
    START_SCRIPT("{{ module_name }}", TRUE);

    run_tests();

    return !END_SCRIPT(TRUE);
}

void run_tests(void)
{
{% for tc in test_cases %}
    test_{{ tc.scenario_id }}();
{% endfor %}

    rule_set("*", "*");
    EXPORT_COVERAGE("test_{{ module_name }}_{{ pr_number }}.cov", cppca_export_replace);
}
